:host {
  max-width: 100%;
  height: 100%;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  swiper {
    max-width: 100% !important;
    margin: 0 auto;

    img {
      max-width: 100%;
      margin: 0 auto;
      border-radius: 10px;
    }
  }
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}



button {
  background-color: inherit;
  border: 1px solid #ACD9B2;
  color: #ACD9B2;
  font-weight: bold;
  width: 100%;
  padding: .5rem;
  border-radius: 10px;

  transform: scale(100%);
  transition: all 300ms ease-in-out;

  &:hover {
    background-color: #ACD9B2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 1px #103010;
    transform: scaleY(105%);
    transition: all 300ms ease-in-out;
  }
}
