img {
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: top;
  border-radius: 10px;

  transition: all 1s ease-in-out;
}

:host {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: all 1s;
  border-radius: 5px;

  h3 {
    width: auto;
    height: 2rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

:host:hover {
  transform: scale(105%);
  transition: all .5s;
}

img:active {
  aspect-ratio: auto;
  transition: all 1s ease-in-out;
}

.buttons {
  display: flex;
  justify-content: flex-end;

  button {
    border: none;
    border-radius: 50%;
    aspect-ratio: 1/1;
    min-width: 15%;
    max-width: 20%;
    margin: 0 5px;
    padding: 5%;
    text-transform: uppercase;
    background-color: #ACD9B2;
    fill: white;
    box-shadow: 0 0 1px peachpuff;
    cursor: pointer;

    transition: all .3s ease;

    &:hover {
      transition: all .3s ease;
      box-shadow: 0 0 2px #ACD9B2;
      background-color: white;
      fill: #ACD9B2;
    }

    svg {
      margin: 0 auto;
    }
  }
}

// En Tablet
@media screen and (min-width: 40em) {
  .buttons {
    button {
      max-width: 25%;
    }
  }
}

// En PC
@media screen and (min-width: 64em) {
  .buttons {
    button {
      max-width: 20%;
    }
  }
}
