:host {
  display: block;
  background-color: white;
  width: 80%;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(10,30,10, .2);
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1em 0;
}
form {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-around;
  gap: 1rem;

  *{
    margin: 0 auto;
  }
  .form-group {
    position: relative;
    margin: .5rem auto;
    font-size: large;

    input {
      border: none;
      outline: none;
      border-bottom: solid 1px #ACD9B2;
      width: 100%;
      padding: .5rem;
      font-family: inherit;

      &:focus {
        background-color: #F7F7F7;
      }
    }
    label {
      position: absolute;
      color: grey;
      left: 5px;
      transition: transform .5s, color .3s;
      transform: translateY(10px);
    }

    input:focus + label,
    input:not(:placeholder-shown) + label{
      transform: translateY(-15px) scale(70%);
      transform-origin: left;
      color: rgb(122, 167, 128);
    }
    input:not(:placeholder-shown) {
      border-bottom:solid 1px #232830;
    }

    &.not-valid {
      input {
        background-color: rgb(255, 0, 0, 20%);
        border-bottom: 1px solid red;
      }
    }
  }

  button {
    background-color: #ACD9B2;
    color: #232830;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 2px rgba(10,30,10, .2);
    transition: transform .3s ease;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 2px rgb(122, 167, 128);
      transform: scale(105%);
      transition: transform .3s ease;
    }
    &:disabled {
      background-color: #C7C7C7;
      color: black;
    }
  }
}

p {
  margin: 2rem auto 1rem auto;
  font-size: small;

  a {
    color: rgb(122, 167, 128); // this is the common green but lowering in 50 every color
    text-decoration:none;
  }

  &.error {
    background-color: rgba(255,0,0,50%);
    color: azure;
    border-radius: 5px;
    padding: 1rem;
    margin: 0;
  }
}
