:host {
  display: block;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  margin: 1.5rem;
  transform: rotate(-5deg);
  &::before {
    content: '404';
    font-size: 96px;
    font-weight: bold;
    display: block;
    max-width: 100%;
    filter: drop-shadow(-5px 5px 5px #20204090);
    animation: expand infinite 3s ease-in;

    @keyframes expand {
      0% {
        transform: scale(100%);
      }

      50% {
        transform: scale(90%);
      }

      100% {
        transform: scale(100%);
      }
    }
  }
}

p {
  font-size: 18px;
  margin: 1rem;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: .5rem;

  li>a {
    background: linear-gradient(to right, #ACD9B2, rgb(187, 247, 208), #ACD9B2);
    border: 1px solid #203020;
    color: #203020;
    text-decoration: none;
    border-radius: 5px;
    display: block;
    width: 100%;
    padding: 1rem;
    box-shadow: -2px 2px 5px #20302050;

    &:hover {
      filter: brightness(90%);
    }
  }
}

//En tablet
@media screen and (min-width: 40em) and (max-width: 63.9em) {
  ul {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }
}

// En PC
@media screen and (min-width: 64em) {
  ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }
}
