<div class="show-mobile">
  <div>
    <button>
      <img src="./assets/svg/icon_menu.svg" alt="menu" (click)="toggleMenu()">
    </button>
    <a href="">
      <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
    </a>
    <a href="">
      <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
    </a>
  </div>
</div>
<div class="side-menu" [class.active]="activeMenu">
  <button (click)="toggleMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(0, 0, 0, 1)">
      <path
        d="m16.192 6.344-4.243 4.242-4.242-4.242-1.414 1.414L10.535 12l-4.242 4.242 1.414 1.414 4.242-4.242 4.243 4.242 1.414-1.414L13.364 12l4.242-4.242z">
      </path>
    </svg>
  </button>
  <ul>
    <li><a (click)="toggleMenu()" routerLink="home">All</a></li>
    <li *ngFor="let cat of categories">
      <a (click)="toggleMenu()" routerLinkActive="active" [routerLink]="['category',cat.id]">{{cat.name}}</a>
    </li>
  </ul>
</div>
<div class="hide-mobile">
  <div>
    <nav>
      <a class="logo" href="">
        <img src="./assets/svg/logo_yard_sale.svg" alt="logo">
      </a>
      <ul>
        <li><a routerLink="home">All</a></li>
        <li *ngFor="let cat of categories">
          <a routerLinkActive="active" [routerLink]="['category', cat.id]">{{cat.name}}</a>
        </li>
      </ul>
    </nav>
    <div class="info">
      <div *ngIf="user; else loginButton" class="account">{{user.name}}</div>
      <ng-template #loginButton>
        <a routerLink="login" class="loginButton">Login</a>
      </ng-template>
      <div class="cart">
        <a href="">
          <img src="./assets/svg/icon_shopping_cart.svg" alt="logo">
        </a>
        <span class="counter">{{counter}}</span>
      </div>
    </div>
  </div>
</div>
