@import url('/src/styles/reset.scss');
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  color: #202040;
  background-color: azure;
}
